<div class="container" >
    <h2 class="title"> Recent Posts </h2>
    {{#if user.logged_in}}
    {{#each blogs}}
    <div class="col">
        <div class="col-sm">
            <div class="card" style="width: 50vw; height: 25vh">
                <div class="card-body">
                    <a href="/api/blog/{{{dataValues.id}}}"><h5 class="card-title">{{{dataValues.title}}}</h5></a>
                    <p class="card-text">By: {{{user.dataValues.username}}}</p>
                    <p class="card-text" style="font-style: italic;">{{{dataValues.description}}}</p>
                    <p class="card-text" style="font-size: smaller;">{{{dataValues.createdAt}}}</p>
                </div>
            </div>
        </div>
    {{/each}}
     {{/if}}
         {{#unless user.logged_in}}
         {{#each blogs}}
    <div class="col">
        <div class="col-sm">
            <div class="card" style="width: 36rem;">
                <div class="card-body">
                    <a href="/api/blog/{{{dataValues.id}}}"><h5 class="card-title">{{{dataValues.title}}}</h5></a>
                    <p class="card-text">By: {{{user.dataValues.username}}}</p>
                    <p class="card-text" style="font-style: italic;">{{{dataValues.description}}}</p>
                    <p class="card-text" style="font-size: smaller;">{{{dataValues.createdAt}}}</p>
                </div>
            </div>
        </div>   
    </div>
    {{/each}}
    {{/unless}}

